<section class="section hero is-light main">
<div class="columns">
<div class="column is-4"><p class="nav-title ml-1"><%= image_tag 'image-name.png', class:"image is-48x48" %></p></div>
<div class="column is-2">
</div>
<div class="column is-2">
<p class="f-15 title">PRODUCT</p>
<a class="subtitle is-6" href="">Product Store</a> <br>
</div>
<div class="column is-2">
<p class="f-15 title">RESOURCES</p>
<a class="subtitle is-6" href="">Blog</a> <br>
<a class="subtitle is-6" href="">Help Center</a> <br>
<a class="subtitle is-6" href="">Bug Submission</a> <br>
<a class="subtitle is-6" href="">Feature Request</a> <br>
<a class="subtitle is-6" href="">Partner</a>
</div>
<div class="column is-2">
<p class="f-15 title">COMPANY</p>
<a class="subtitle is-6" href="">About Us</a> <br>
<a class="subtitle is-6" href="">Leadership</a>
</div>
</div>
</section>
<nav class="navbar is-light is-spaced">
<div class="navbar-item"><strong>Status</strong></div>
<div class="navbar-item"><strong>Privacy and Terms</strong></div>
<div class="navbar-item"><strong>Contact Us</strong></div>
<div>
</div>
</nav>
<nav class="navbar">
<p class="subtitle is-7 mt-5 ml-5">© Copyright 2020 Example, Inc. Made with love for friends!</p>
</nav>