<br class="is-hidden-desktop">
<br class="is-hidden-desktop">
<nav class="navbar is-navigation is-fixed-bottom is-hidden-desktop has-shadow" role="navigation">
<div class="navbar-brand">
    <a class="navbar-item is-expanded is-block has-text-centered" href="/posts">
        <i class="material-icons f-30">home</i>
    </a>
    <a class="navbar-item is-expanded is-block has-text-centered" href="/explore">
        <i class="material-icons f-30">brightness_1</i>
    </a>
    <a class="navbar-item is-expanded is-block has-text-centered" href="/notifications">
        <i class="material-icons f-30">notifications</i>
    </a>
    <a class="navbar-item is-expanded is-block has-text-centered" href="/profile/<%=current_user.id%>">
        <i class="material-icons f-30">person</i>
    </a>
</div>
</nav>