<div class="columns">
  <div class="column is-3">
  </div>
  <div class="column is-6">
  <h1 class="title">Explore</h1>
    <div class="card p-5">
        <p class="title is-4">Search</p>
        <input type="text" class="input" placeholder="search">
    </div>
  </div>
  <div class="column is-3">
  </div>
</div>