<div class="columns">
  <div class="column is-6">
      <br><br>
      <h1 class="title is-2">
        Meek and Lowly is a social media focused on God
      </h1>
      <p class="subtitle">
        Chat with friends, get advice, and grow a community!
      </p>  
  </div>
  <div class="column is-6">
  </div>
</div>