<div class="columns">
  <div class="column is-3">
  </div>
  <div class="column is-6">
  <h1 class="title">Notifications</h1>
  <div class="card p-5">
  </div>
  <div class="column is-3">
  </div>
</div>