<div class="columns">
  <div class="column is-3">
  </div>
  <div class="column is-6">
  <h1 class="title">Profile</h1>
  <div class="card p-5">
  <h1 class="title is-4"><%= @user.name %></h1>
  <p class="subtitle"><%= @user.username %></p>
  <div class="is-flex mb-3">
    <div class="mr-5"><strong class="title is-4">31</strong><br>Communities</div>
    <div><strong class="title is-4">200</strong><br>posts</div>
  </div>
  </div>
  <div class="column is-3">
  </div>
</div>