<%= form_with(model: post, local: true) do |form| %>
  <div class="field">
    <label for="" class="label">Content</label>
    <%= form.text_area :body, class: "textarea", rows: "2", placeholder: "Have you guys checked out John 12? ITS SO AMAZING..." %>
  </div>
  <div class="field">
    <label for="" class="label">Post to a Group</label>
    <div class="control is-expanded">
      <div class="select">
        <%= form.select(:group_id, options_for_select(Group.all_for_user(current_user).map { |p| [(p.name), p.id]}), {:include_blank => 'private'}) %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Post", class: "button is-primary" %>
  </div>
<% end %>
