@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap');

$family-primary: 'Epilogue', sans-serif;
$danger: rgb(235, 98, 82);
$warning: rgb(255, 241, 81);

$primary: #5e17eb;
$secondary: #ff847c;
$third: #feceab;
$forth: #99b898;
$navigation: rgb(255, 255, 255);
$background: rgb(244, 246, 251);
$custom-colors: ("secondary": $secondary, 
                "navigation": $navigation,
                "background": $background);
$link: $primary;

@import 'bulma';
@import '_layout';
@import 'noty/lib/noty';
@import 'noty/lib/themes/semanticui';